html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.card {
    background-color: hsl(216, 50%, 16%);
    width: 329px;
    border-radius: 16px;
    padding: 25px;
    margin: auto;
    box-shadow: 0 20px 20px rgba(11, 11, 11, 0.4);
}

.card__hero {
    background-image: url(images/image-equilibrium.jpg);
    border-radius: 14px;
    background-size: cover;
    width: 278px;
    height: 278px;
    display: block;
    transition: all 250ms;
}

.card__hero:hover::after {
    content: '';
    border-radius: 14px;
    background: hsla(178, 100%, 50%, .5);
    background-image: url(images/icon-view.svg);
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    width: 278px;
    height: 278px;
    display: block;
    cursor: pointer;
}

.card__title {
    font-size: 1.4rem;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    margin-top: 26px;
    transition: all 250ms;
}

.card__title:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.card__desc {
    font-size: 1rem;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
    line-height: 1.7;
    margin-top: 11px;
}

.card__status {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
}

/* Includes the icon and current value */
.card__value-info {
    display: flex;
    align-items: center;
    justify-content: left;
}

.card__value {
    font-size: .9rem;
    font-weight: 600;
    color: hsl(178, 100%, 50%);
    padding-left: 7px;
}

/* Includes the icon and time remaining */
.card__time-info {
    display: flex;
    align-items: center;
    justify-content: right;
}

.card__time {
    font-size: .9rem;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
    padding-left: 7px;
}

.card__horizontal-rule {
    border-top: 0px;
    color: hsl(215, 32%, 27%);
    margin-top: 17px;
}

.card__author-info {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.card__author-image {
    border: 1.5px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    width: 33px;
}

.card__author {
    font-size: 1rem;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
    margin: 0 16px;
}

.card__author-link {
    text-decoration: none;
    color:hsl(0, 0%, 100%);
    transition: all 250ms;
}

.card__author-link:hover {
    color: hsl(178, 100%, 50%);
} 

.attribution {
    font-size: 11px; 
    text-align: center;
    color:hsl(0, 0%, 100%);
}

.attribution__link {
    color: hsl(178, 100%, 50%);
}

@media screen and (min-width: 500px) {
    .card {
        width: 350px;
    }
    
    .card__hero {
        background-image: url(images/image-equilibrium.jpg);
        width: 302px;
        height: 302px;
        border-radius: 14px;
        background-size: cover;
    }

    .card__hero:hover::after {
        width: 302px;
        height: 302px;
    }

    .card__desc {
        margin-top: 14px;
    }
    
    .card__status {
        margin-top: 24px;
    }
    
    .card__horizontal-rule {
        margin-top: 25px;
    }

    .card__author-info {
        margin-top: 17px;
        margin-bottom: 7px;
    }
}
